body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.background-enter {
  transform: translateY(100%);
}
.background-enter.background-enter-active {
  transform: translateY(0%);
  transition: transform 1000ms ease-in-out;
}
.background-leave {
  transform: translateY(0%);
}
.background-leave.background-leave-active {
  transform: translateY(-100%);
  transition: transform 1000ms ease-in-out;
}
